<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>timesheets2</display-name>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<enabled>true</enabled>
		<async-supported>false</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>
		*.xhtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>timesheet.xhtml</welcome-file>
	</welcome-file-list>
	<data-source>
		<name>java:app/jdbc/TimesheetsDatabase</name>
		<class-name>org.postgresql.Driver</class-name>
		<url>jdbc:postgresql://localhost:5432/timesheets</url>
		<user>timesheets</user>
		<password>timesheets</password>
	</data-source>
	<env-entry>
		<description>
		Auto Generated - SDO Datasource connection to jdbc:postgresql://localhost:5432/pokusy</description>
		<env-entry-name>TimesheetsDatabase</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>jdbc:postgresql://localhost:5432/pokusy,org.postgresql.Driver,pg,postgres</env-entry-value>
	</env-entry>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>timesheets</realm-name>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/loginerror.html</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>manager</role-name>
	</security-role>
	<security-constraint>
		<display-name>Timesheet editing</display-name>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/timesheet.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>
	<context-param>
		<param-name>javax.faces.WEBAPP_RESOURCES_DIRECTORYxx</param-name>
		<param-value>/WEB-INF/resources</param-value>
	</context-param>
	<context-param>
    <param-name>BootsFaces_THEME</param-name>
    <param-value>custom</param-value>
</context-param>
<context-param>
    <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    <param-value>/WEB-INF/timesheets.taglib.xml</param-value>
</context-param>
</web-app>
