<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>timesheets2</display-name>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<enabled>true</enabled>
		<async-supported>false</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>
		*.xhtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>timesheet.xhtml</welcome-file>
	</welcome-file-list>
	<data-source>
		<name>java:app/jdbc/TimesheetsDatabase</name>
		<class-name>org.postgresql.Driver</class-name>
		<url>jdbc:postgresql://localhost:5432/pokusy</url>
		<user>pg</user>
		<password>postgres</password>
	</data-source>
</web-app>
